*{
	margin:0;
	padding: 0;
}

.cada-poke{
	background-color: lightgray;
	border-radius: 5px;
	border: 1px solid black;
}

.container-cada-poke{
	padding-top: 15px;
	padding-bottom: 15px;
}

.foto-poke{
	background-color: #fff;
}

.capitalizar{
	text-transform:capitalize;
}

.poder{
	background-color: #fec106;
	margin-top: 5px;
}

center{
	color: #fff;
	background-color: gray;
}